* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "helvetica", sans-serif;
  background-color: #e0e0e0;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s;
}
a:hover {
  transform: scale(1.05);
}