:root {
  --red: #c61c02;
  --light-red: #cb321b;
  --gray: #ccc;

  --transition-duration: 200ms;
  --transition-function: ease;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
}

img {
    max-width: 100%;
    display: block;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}